---
layout: layouts/base.njk
permalink: "/artists/"
title: "Artists"
---

<h1>Artists</h1>

<div class="artists-grid">
{% for artist in artists %}
    <div class="artist-card">
        <a href="/artists/{{ artist.id }}" class="artist-link">
            {% if artist.imageUrl %}
            <img src="{{ artist.imageUrl }}" alt="{{ artist.name }}" class="artist-image-thumb">
            {% endif %}
            <div class="artist-card-info">
                <h2 class="artist-name">{{ artist.name }}</h2>
                {% if artist.data.location %}
                <p class="artist-location">{{ artist.data.location }}</p>
                {% endif %}
                {% if artist.data.genres %}
                <p class="artist-genres">
                {% if artist.tags is iterable and artist.tags is not string %}
                    {{ artist.tags}}
                {% else %}
                    {{ artist.tags }}
                {% endif %}
                </p>
                {% endif %}
            </div>
        </a>
    </div>
{% endfor %}
</div>
